---
layout: default
---
<div class="container px-4 md:px-20 py-20 text-gray-200">
    <header>
        <a class="btn btn-square btn-ghost" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current text-success">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
            </svg>
            <p>Back</p>
        </a>
    </header>
    <h1 class="text-center text-6xl py-6 font-bold">{{ page.name }}</h1>
    <figure class="h-96">
        <img src="{{ page.image }}" class="rounded-xl h-96">
    </figure>
    {{ content }}
</div>